<div class="container">
<section class="header">
  <h2 class="title">Sendipic - The Ultimate Pic Finder</h2>
</section>

<%= form_tag(search_path, remote: true) do %>
  <div class="row">
    <div class="six columns">
      <%= text_field_tag :search, params[:query],
        class: 'u-full-width',
        placeholder: 'search pictures...'
      %>
    </div>
    <div class="one column">
      <%= submit_tag "Search", :name => nil, class: 'button-primary' %>
    </div>
  </div>
<% end %>

<div id="search-results"></div>
